# Contents
##### 1. [Libraries](#1)
##### 2. [Data preparation](#2)
##### &nbsp; &nbsp; 2.1. [Read file](#2.1)
##### &nbsp; &nbsp; 2.2. [First look](#2.2)
##### 3. [Optimization](#3)
##### 3. [Analisis](#4)
##### 4. [Preprocessing](#5)
##### 5. [Training](#6)
##### 7. [Results](#7)
##### 8. [Save](#8)

<a id="1"></a>
### 1. Libraries

In [2]:
import numpy as np
import pandas as pd
import sys
from time import time
import seaborn as sns
import matplotlib.pyplot as plt

<a id="2"></a>
### 2. Data preparation

<a id="2.1"></a>
#### 2.1. Read-file

In [ ]:
filename = '...'
df = pd.read_csv(filename)

In [5]:
df = pd.DataFrame([[1,'Bob', 'Builder'],
                  [2,'Sally', 'Baker'],
                  [3,'Scott', 'Candle Stick Maker']], 
                  columns=['id','name', 'occupation'])
df_copy = df.copy(deep=True)

<a id="2.2"></a>
#### 2.2. First look

In [9]:
df.head() #df.tail()

   id   name          occupation
0   1    Bob             Builder
1   2  Sally               Baker
2   3  Scott  Candle Stick Maker

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   name        3 non-null      object
 2   occupation  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [8]:
df.describe()

        id
count  3.0
mean   2.0
std    1.0
min    1.0
25%    1.5
50%    2.0
75%    2.5
max    3.0

<a id="3"></a>
### 3. Optimization

<a id="4"></a>
### 4. Analisis

<a id="5"></a>
### 5. Preprocessing

<a id="6"></a>
### 6. Training

<a id="7"></a>
### 7. Results

<a id="8"></a>
### 8. Save